*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(../images/background.jpg);
}

.header{
    display: flex;
    justify-content: space-around;
    border-radius: 1cm;
    padding: 15px;
    
    background-color: aquamarine;
}

.header a{
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
}

.entry a,
.header a{
    text-decoration: none;
    color: black;
}

.stories{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    padding: 5px;
    justify-content: space-between;
    height: 92%;
}

.main-story {
    width: 70%;
    border-radius: 50px;
    display: flex;
    justify-content: center;

    background-color: rgb(153, 144, 194);
}

.secondary{
    width: 29%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /*background-color: rgb(207, 207, 140);*/
}

.entry{
    background-color: rgb(15, 153, 158);
    border-radius: 50px;
    padding: 115px;
}